body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-black);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contato {
    color: var(--color-white);
    margin-top: 5vh;
    justify-content: center;
    align-items: center;
}

.contato__container {
    margin-right: auto;
    padding: 0px 14%;
}

.contato__title {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: left;
}

.contato__sub-title {
    font-weight: 600;
    font-size: 20px;
    margin-top: 15px;
    text-align: left;
    
}

.contato__texto {
    padding: 0px 3%;
    line-height: 1.5;
    margin-bottom: 20px;
    font-size: 20px;
}

.contato__texto-lista li{
    font-weight: normal;
    list-style-type: circle;
    line-height: 1.5;
}

.contato__social-midia img {
    margin: 10px;
    width: 40px;
    height: 40px;
}

