/*Logar com esse e-mail por conta da api para fins de teste: eve.holt@reqres.in*/

.login {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login__container {
    min-height: 430px;
    width: 350px;
    background-color: var(--color-white);
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__title {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 32px;
    color: var(--color-black);
}

.login__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login__input {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    outline: 0;
}

.login__input-border {
    height: 1px;
    width: 100%;
    margin-bottom: 16px;
    background-color: #cfcfcf;
    transition: .3s ease-in-out;
}

.login__input-border::after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    margin-bottom: 16px;
    background: var(--color-fresh);
    transition: .3s ease-in-out;
}

.login__input:focus + .login__input-border::after {
    width: 100%;
}

.login__input-border.error {
    background: var(--input-error);
}

.login__input-border.error::after {
    background: var(--input-error);
}

.login__submit {
    height: 48px;
    width: 100%;
    background: var(--color-vermillion);
    background-size: 200%;
    margin-bottom: 32px;
    color: var(--color-white);
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.login__submit:disabled {
    background: var(--button-disabled);
    cursor: not-allowed;
}

.login__submit.error {
    background: var(--input-error);
}

.login__submit.success {
    background: var(--button-success);
}

.login__reset {
    font-size: 14px;
    color: #757575;
    text-decoration: none;
}

@media screen and (max-width: 768px) {

    .login {
        height: 100vh;
        width: 100%;
        display: absolute;
        justify-content: center;
        align-items: center;
    }

    .login__container {
        min-height: 420px;
        width: 75%;
        background-color: var(--color-white);
        box-sizing: border-box;
        padding: 32px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}