li {
    font-weight: 600;
    font-size: 17px;
    color: var(--color-white);
}

.cabecalho {
    color: var(--color-white);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
    background-color: var(--color-black);
    box-shadow: 0px 15px 20px 4px rgba(0,0,0,0.5);
}

.cabecalho__logo {
    cursor: pointer;
    margin-right: auto;
    border-radius: 50px;
    width: 43px;
    height: 43px;
}

.cabecalho__nav-links {
    list-style: none;
    display: flex;
}

.cabecalho__nav-links li{
    padding: 0px 20px
}

.cabecalho__nav-links li a {
    transition: all 0.3s ease 0s;
}

.cabecalho__nav-links li a:hover {
    color: #0088a9;
}

.contato {
    margin-left: 50px;
    padding: 9px 25px;
    background-color: RGBA(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.contato:hover {
    background-color: RGBA(0,136,169,0.7);
}

.cabecalho__mobile-menu {
    display: none;
    cursor: pointer;
}

.cabecalho__mobile-menu div{
    width: 32px;
    height: 2px;
    background: var(--color-white);
    margin: 8px;
    transition: .3s;
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .cabecalho__nav-links{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: var(--color-black);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .cabecalho__nav-links li { 
        opacity: 0;
    }
    
    .cabecalho__mobile-menu {
        display: block;
    }

    .cabecalho__nav-links.active {
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        } to {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

.cabecalho__mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.cabecalho__mobile-menu.active .line2 {
opacity: 0;
}

.cabecalho__mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}